@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary-50: oklch(97.7% 0.014 308.299);
  --color-primary-100: oklch(94.6% 0.033 307.174);
  --color-primary-200: oklch(90.2% 0.063 306.703);
  --color-primary-300: oklch(82.7% 0.119 306.383);
  --color-primary-400: oklch(71.4% 0.203 305.504);
  --color-primary-500: oklch(62.7% 0.265 303.9);
  --color-primary-600: oklch(55.8% 0.288 302.321);
  --color-primary-700: oklch(49.6% 0.265 301.924);
  --color-primary-800: oklch(43.8% 0.218 303.724);
  --color-primary-900: oklch(38.1% 0.176 304.987);
  --color-primary-950: oklch(29.1% 0.149 302.717);

  --font-sans: var(--font-roboto-sans);
  --font-body: var(--font-roboto-sans);
  --font-mono: var(--font-roboto-mono);

  --font-family: sans-serif;
}
